[submodule "reconnaisance/Sudomy"]
	path = reconnaisance/Sudomy
	url = https://github.com/Screetsec/Sudomy.git
[submodule "osint/spiderfoot"]
	path = osint/spiderfoot
	url = https://github.com/smicallef/spiderfoot.git
[submodule "testing/atomic-red-team"]
	path = testing/atomic-red-team
	url = https://github.com/redcanaryco/atomic-red-team.git
[submodule "indicators/ja3"]
	path = indicators/ja3
	url = https://github.com/salesforce/ja3.git
[submodule "osint/uDork"]
	path = osint/uDork
	url = https://github.com/m3n0sd0n4ld/uDork.git
[submodule "testing/joystick"]
	path = testing/joystick
	url = https://github.com/mitre-attack/joystick.git
[submodule "testing/caldera"]
	path = testing/caldera
	url = https://github.com/mitre/caldera.git
[submodule "analysis/malwoverview"]
	path = analysis/malwoverview
	url = https://github.com/alexandreborges/malwoverview.git
[submodule "scanners/masscan"]
	path = scanners/masscan
	url = https://github.com/robertdavidgraham/masscan.git
[submodule "networking/wifijammer"]
	path = networking/wifijammer
	url = https://github.com/DanMcInerney/wifijammer.git
[submodule "email/checkdmarc"]
	path = email/checkdmarc
	url = https://github.com/domainaware/checkdmarc.git
[submodule "indicators/yara"]
	path = indicators/yara
	url = https://github.com/VirusTotal/yara.git
[submodule "networking/mitmengine"]
	path = networking/mitmengine
	url = https://github.com/cloudflare/mitmengine.git
[submodule "networking/cloud-ranges"]
	path = networking/cloud-ranges
	url = https://github.com/pry0cc/cloud-ranges.git
[submodule "microsoft&azure/msmailprobe"]
	path = microsoft&azure/msmailprobe
	url = https://github.com/busterb/msmailprobe.git
[submodule "vulnerability-identification/nmap-vulners"]
	path = vulnerability-identification/nmap-vulners
	url = https://github.com/vulnersCom/nmap-vulners.git
[submodule "reconnaisance/dnsrecon"]
	path = reconnaisance/dnsrecon
	url = https://github.com/darkoperator/dnsrecon.git
[submodule "microsoft&azure/o365-attack-toolkit"]
	path = microsoft&azure/o365-attack-toolkit
	url = https://github.com/mdsecactivebreach/o365-attack-toolkit.git
[submodule "activedirectory/BloodHound"]
	path = activedirectory/BloodHound
	url = https://github.com/BloodHoundAD/BloodHound.git
[submodule "reconnaisance/HostHunter"]
	path = reconnaisance/HostHunter
	url = https://github.com/SpiderLabs/HostHunter.git
[submodule "reconnaisance/fav-up"]
	path = reconnaisance/fav-up
	url = https://github.com/pielco11/fav-up.git
[submodule "microsoft&azure/o365creeper"]
	path = microsoft&azure/o365creeper
	url = https://github.com/LMGsec/o365creeper.git
[submodule "internet-scale-research/Hunting-New-Registered-Domains"]
	path = internet-scale-research/Hunting-New-Registered-Domains
	url = https://github.com/gfek/Hunting-New-Registered-Domains.git
[submodule "websites/ffuf"]
	path = websites/ffuf
	url = https://github.com/ffuf/ffuf.git
[submodule "reconnaisance/gau"]
	path = reconnaisance/gau
	url = https://github.com/lc/gau.git
[submodule "osint/dorkScanner"]
	path = osint/dorkScanner
	url = https://github.com/madhavmehndiratta/dorkScanner.git
[submodule "scanners/RustScan"]
	path = scanners/RustScan
	url = https://github.com/RustScan/RustScan.git
[submodule "osint/reconspider"]
	path = osint/reconspider
	url = https://github.com/bhavsec/reconspider.git
[submodule "networking/Responder"]
	path = networking/Responder
	url = https://github.com/lgandx/Responder
[submodule "analysis/hstsparser"]
	path = analysis/hstsparser
	url = https://github.com/thebeanogamer/hstsparser.git
[submodule "websites/dirsearch"]
	path = websites/dirsearch
	url = https://github.com/maurosoria/dirsearch.git
[submodule "analysis/munin"]
	path = analysis/munin
	url = https://github.com/Neo23x0/munin.git
[submodule "reconnaisance/AttackSurfaceMapper"]
	path = reconnaisance/AttackSurfaceMapper
	url = https://github.com/superhedgy/AttackSurfaceMapper.git
[submodule "reconnaisance/fierce"]
	path = reconnaisance/fierce
	url = https://github.com/mschwager/fierce.git
[submodule "microsoft&azure/o365recon"]
	path = microsoft&azure/o365recon
	url = https://github.com/nyxgeek/o365recon.git
[submodule "vulnerability-identification/flan"]
	path = vulnerability-identification/flan
	url = https://github.com/cloudflare/flan.git
[submodule "vulnerability-identification/tsunami-security-scanner"]
	path = vulnerability-identification/tsunami-security-scanner
	url = https://github.com/google/tsunami-security-scanner.git
[submodule "reconnaisance/cloud_enum"]
	path = reconnaisance/cloud_enum
	url = https://github.com/initstring/cloud_enum.git
[submodule "activedirectory/ADFSpoof"]
	path = activedirectory/ADFSpoof
	url = https://github.com/fireeye/ADFSpoof.git
[submodule "vuln-identification/flan"]
	path = vuln-identification/flan
	url = https://github.com/cloudflare/flan.git
[submodule "vuln-identification/tsunami-security-scanner"]
	path = vuln-identification/tsunami-security-scanner
	url = https://github.com/google/tsunami-security-scanner.git
[submodule "vuln-identification/nmap-vulners"]
	path = vuln-identification/nmap-vulners
	url = https://github.com/vulnersCom/nmap-vulners.git
[submodule "websites/CMSeeK"]
	path = websites/CMSeeK
	url = https://github.com/Tuhinshubhra/CMSeeK.git
[submodule "indicators/jarm"]
	path = indicators/jarm
	url = https://github.com/salesforce/jarm.git
[submodule "osint/waybackpack"]
	path = osint/waybackpack
	url = https://github.com/jsvine/waybackpack.git
[submodule "internet-scale-research/nuclei"]
	path = internet-scale-research/nuclei
	url = https://github.com/projectdiscovery/nuclei.git
[submodule "microsoft&azure/Sparrow"]
	path = microsoft&azure/Sparrow
	url = https://github.com/cisagov/Sparrow
[submodule "microsoft&azure/Mandiant-Azure-AD-Investigator"]
	path = microsoft&azure/Mandiant-Azure-AD-Investigator
	url = https://github.com/fireeye/Mandiant-Azure-AD-Investigator.git
[submodule "networking/CloudFlair"]
	path = networking/CloudFlair
	url = https://github.com/christophetd/CloudFlair
[submodule "microsoft&azure/BlobHunter"]
	path = microsoft&azure/BlobHunter
	url = https://github.com/cyberark/BlobHunter
[submodule "microsoft&azure/cs-suite"]
	path = microsoft&azure/cs-suite
	url = https://github.com/SecurityFTW/cs-suite
[submodule "microsoft&azure/AzurePenTestScope"]
	path = microsoft&azure/AzurePenTestScope
	url = https://github.com/swiftsolves-msft/AzurePenTestScope
[submodule "microsoft&azure/SkyArk"]
	path = microsoft&azure/SkyArk
	url = https://github.com/cyberark/SkyArk
[submodule "microsoft&azure/MicroBurst"]
	path = microsoft&azure/MicroBurst
	url = https://github.com/NetSPI/MicroBurst
[submodule "microsoft&azure/Stormspotter"]
	path = microsoft&azure/Stormspotter
	url = https://github.com/Azure/Stormspotter
[submodule "microsoft&azure/azucar"]
	path = microsoft&azure/azucar
	url = https://github.com/nccgroup/azucar
[submodule "microsoft&azure/CRT"]
	path = microsoft&azure/CRT
	url = https://github.com/CrowdStrike/CRT.git
[submodule "microsoft&azure/Cloud-Katana"]
	path = microsoft&azure/Cloud-Katana
	url = https://github.com/Azure/Cloud-Katana.git
[submodule "websites/weird_proxies"]
	path = websites/weird_proxies
	url = https://github.com/GrrrDog/weird_proxies
[submodule "internet-scale-research/phishing_catcher"]
	path = internet-scale-research/phishing_catcher
	url = https://github.com/x0rz/phishing_catcher.git
[submodule "reconnaisance/SubDomainizer"]
	path = reconnaisance/SubDomainizer
	url = https://github.com/nsonaniya2010/SubDomainizer.git
[submodule "analysis/DeepBlueCLI"]
	path = analysis/DeepBlueCLI
	url = https://github.com/sans-blue-team/DeepBlueCLI.git
[submodule "microsoft&azure/Azure-Network-Security"]
	path = microsoft&azure/Azure-Network-Security
	url = https://github.com/Azure/Azure-Network-Security.git
[submodule "email/espoofer"]
	path = email/espoofer
	url = https://github.com/chenjj/espoofer.git
[submodule "windows/RDPassSpray"]
	path = windows/RDPassSpray
	url = https://github.com/xFreed0m/RDPassSpray.git
[submodule "scanners/Striker"]
	path = scanners/Striker
	url = https://github.com/s0md3v/Striker.git
[submodule "internet-scale-research/EyeWitness"]
	path = internet-scale-research/EyeWitness
	url = https://github.com/FortyNorthSecurity/EyeWitness.git
[submodule "networking/bettercap"]
	path = networking/bettercap
	url = https://github.com/bettercap/bettercap.git
[submodule "networking/Tunna"]
	path = networking/Tunna
	url = https://github.com/SECFORCE/Tunna.git
[submodule "testing/PEASS-ng"]
	path = testing/PEASS-ng
	url = https://github.com/carlospolop/PEASS-ng.git
[submodule "authentication/SAML2Spray"]
	path = authentication/SAML2Spray
	url = https://github.com/LuemmelSec/SAML2Spray.git
[submodule "windows/ForgeCert"]
	path = windows/ForgeCert
	url = https://github.com/GhostPack/ForgeCert.git
[submodule "windows/Certipy"]
	path = windows/Certipy
	url = https://github.com/ly4k/Certipy.git
[submodule "windows/SharpNoPSExec"]
	path = windows/SharpNoPSExec
	url = https://github.com/juliourena/SharpNoPSExec.git
[submodule "activedirectory/SharpHound3"]
	path = activedirectory/SharpHound3
	url = https://github.com/BloodHoundAD/SharpHound3.git
[submodule "networking/AutoRecon"]
	path = networking/AutoRecon
	url = https://github.com/Tib3rius/AutoRecon.git
[submodule "reconnaisance/recon-ng"]
	path = reconnaisance/recon-ng
	url = https://github.com/lanmaster53/recon-ng.git
[submodule "forensics/ArtifactCollectionMatrix"]
	path = forensics/ArtifactCollectionMatrix
	url = https://github.com/swisscom/ArtifactCollectionMatrix.git
[submodule "testing/all-about-apikey"]
	path = testing/all-about-apikey
	url = https://github.com/daffainfo/all-about-apikey
[submodule "vendor/rtr"]
	path = vendor/rtr
	url = https://github.com/bk-cs/rtr.git
[submodule "testing/DeTTECT"]
	path = testing/DeTTECT
	url = https://github.com/rabobank-cdc/DeTTECT.git
[submodule "incidents/Aurora-Incident-Response"]
	path = incidents/Aurora-Incident-Response
	url = https://github.com/cyb3rfox/Aurora-Incident-Response.git
[submodule "osint/awesome-osint"]
	path = osint/awesome-osint
	url = https://github.com/jivoi/awesome-osint.git
[submodule "osint/OSINT"]
	path = osint/OSINT
	url = https://github.com/sinwindie/OSINT.git
[submodule "indicators/misp-warninglists"]
	path = indicators/misp-warninglists
	url = https://github.com/MISP/misp-warninglists.git
[submodule "indicators/IoCs"]
	path = indicators/IoCs
	url = https://github.com/sophoslabs/IoCs.git
[submodule "email/PhishMailer"]
	path = email/PhishMailer
	url = https://github.com/BiZken/PhishMailer.git
[submodule "scanners/killshot"]
	path = scanners/killshot
	url = https://github.com/bahaabdelwahed/killshot.git
[submodule "resources/the_cyber_plumbers_handbook"]
	path = resources/the_cyber_plumbers_handbook
	url = https://github.com/opsdisk/the_cyber_plumbers_handbook.git
[submodule "collections/ctf-tools"]
	path = collections/ctf-tools
	url = https://github.com/zardus/ctf-tools.git
[submodule "collections/tools"]
	path = collections/tools
	url = https://github.com/nullsecuritynet/tools.git
[submodule "networking/aircrack-ng"]
	path = networking/aircrack-ng
	url = https://github.com/aircrack-ng/aircrack-ng.git
[submodule "collections/security"]
	path = collections/security
	url = https://github.com/mozilla/security.git
[submodule "resources/security-cheatsheets"]
	path = resources/security-cheatsheets
	url = https://github.com/andrewjkerr/security-cheatsheets.git
[submodule "cloud/ScoutSuite"]
	path = cloud/ScoutSuite
	url = https://github.com/nccgroup/ScoutSuite.git
[submodule "windows/mimikatz"]
	path = windows/mimikatz
	url = https://github.com/gentilkiwi/mimikatz.git
[submodule "containers/dockerscan"]
	path = containers/dockerscan
	url = https://github.com/cr0hn/dockerscan.git
[submodule "collections/msticpy"]
	path = collections/msticpy
	url = https://github.com/microsoft/msticpy.git
[submodule "mobile/awesome-mobile-security"]
	path = mobile/awesome-mobile-security
	url = https://github.com/vaib25vicky/awesome-mobile-security.git
[submodule "forensics/aa-tools"]
	path = forensics/aa-tools
	url = https://github.com/JPCERTCC/aa-tools.git
[submodule "internet-scale-research/aquatone"]
	path = internet-scale-research/aquatone
	url = https://github.com/michenriksen/aquatone.git
[submodule "collections/osx-and-ios-security-awesome"]
	path = collections/osx-and-ios-security-awesome
	url = https://github.com/ashishb/osx-and-ios-security-awesome.git
[submodule "collections/HackingTools"]
	path = collections/HackingTools
	url = https://github.com/Laxa/HackingTools.git
[submodule "scanners/trivy"]
	path = scanners/trivy
	url = https://github.com/aquasecurity/trivy.git
[submodule "assets/snipe-it"]
	path = assets/snipe-it
	url = https://github.com/snipe/snipe-it.git
[submodule "scanners/faraday"]
	path = scanners/faraday
	url = https://github.com/infobyte/faraday.git
[submodule "assets/archerysec"]
	path = assets/archerysec
	url = https://github.com/archerysec/archerysec.git
[submodule "scanners/watchdog"]
	path = scanners/watchdog
	url = https://github.com/flipkart-incubator/watchdog.git
[submodule "windows/AttackSurfaceAnalyzer"]
	path = windows/AttackSurfaceAnalyzer
	url = https://github.com/microsoft/AttackSurfaceAnalyzer.git
[submodule "containers/docker-bench-security"]
	path = containers/docker-bench-security
	url = https://github.com/docker/docker-bench-security.git
[submodule "networking/dnscrypt-proxy"]
	path = networking/dnscrypt-proxy
	url = https://github.com/DNSCrypt/dnscrypt-proxy.git
[submodule "networking/microsocks"]
	path = networking/microsocks
	url = https://github.com/rofl0r/microsocks.git
[submodule "assets/netdata"]
	path = assets/netdata
	url = https://github.com/netdata/netdata.git
[submodule "networking/pulledpork"]
	path = networking/pulledpork
	url = https://github.com/shirkdog/pulledpork.git
[submodule "networking/snort3"]
	path = networking/snort3
	url = https://github.com/snort3/snort3.git
[submodule "networking/justniffer"]
	path = networking/justniffer
	url = https://github.com/onotelli/justniffer.git
[submodule "networking/rita"]
	path = networking/rita
	url = https://github.com/activecm/rita.git
[submodule "assets/streamalert"]
	path = assets/streamalert
	url = https://github.com/airbnb/streamalert.git
[submodule "windows/SysmonSearch"]
	path = windows/SysmonSearch
	url = https://github.com/JPCERTCC/SysmonSearch.git
[submodule "vendor/VxAPI"]
	path = vendor/VxAPI
	url = https://github.com/PayloadSecurity/VxAPI.git
[submodule "analysis/fame"]
	path = analysis/fame
	url = https://github.com/certsocietegenerale/fame.git
[submodule "resources/RedTeam-OffensiveSecurity"]
	path = resources/RedTeam-OffensiveSecurity
	url = https://github.com/bigb0sss/RedTeam-OffensiveSecurity.git
[submodule "osint/metabigor"]
	path = osint/metabigor
	url = https://github.com/j3ssie/metabigor.git
[submodule "cloud/festin"]
	path = cloud/festin
	url = https://github.com/cr0hn/festin.git
[submodule "microsoft&azure/TokenTactics"]
	path = microsoft&azure/TokenTactics
	url = https://github.com/rvrsh3ll/TokenTactics.git
[submodule "networking/IPRotate_Burp_Extension"]
	path = networking/IPRotate_Burp_Extension
	url = https://github.com/RhinoSecurityLabs/IPRotate_Burp_Extension.git
[submodule "networking/mubeng"]
	path = networking/mubeng
	url = https://github.com/kitabisa/mubeng.git
[submodule "collections/DefaultCreds-cheat-sheet"]
	path = collections/DefaultCreds-cheat-sheet
	url = https://github.com/ihebski/DefaultCreds-cheat-sheet.git
[submodule "windows/nanodump"]
	path = windows/nanodump
	url = https://github.com/helpsystems/nanodump.git
[submodule "windows/LiquidSnake"]
	path = windows/LiquidSnake
	url = https://github.com/RiccardoAncarani/LiquidSnake.git
[submodule "windows/evtx2json"]
	path = windows/evtx2json
	url = https://github.com/vavarachen/evtx2json.git
[submodule "osint/Scrummage"]
	path = osint/Scrummage
	url = https://github.com/matamorphosis/Scrummage.git
[submodule "indicators/misp-galaxy"]
	path = indicators/misp-galaxy
	url = https://github.com/MISP/misp-galaxy.git
[submodule "microsoft&azure/AzureADAssessment"]
	path = microsoft&azure/AzureADAssessment
	url = https://github.com/AzureAD/AzureADAssessment.git
[submodule "scanners/StalkPhish"]
	path = scanners/StalkPhish
	url = https://github.com/t4d/StalkPhish.git
[submodule "indicators/opencti"]
	path = indicators/opencti
	url = https://github.com/OpenCTI-Platform/opencti.git
[submodule "socials/Discord-History-Tracker"]
	path = socials/Discord-History-Tracker
	url = https://github.com/chylex/Discord-History-Tracker
[submodule "socials/CrossLinked"]
	path = socials/CrossLinked
	url = https://github.com/m8r0wn/CrossLinked.git
[submodule "socials/sherlock"]
	path = socials/sherlock
	url = https://github.com/sherlock-project/sherlock.git
[submodule "socials/NameSpi"]
	path = socials/NameSpi
	url = https://github.com/waffl3ss/NameSpi.git
[submodule "socials/holehe"]
	path = socials/holehe
	url = https://github.com/megadose/holehe.git
[submodule "internet-scale-research/httprobe"]
	path = internet-scale-research/httprobe
	url = https://github.com/tomnomnom/httprobe.git
[submodule "resources/ICS-Security-Tools"]
	path = resources/ICS-Security-Tools
	url = https://github.com/ITI/ICS-Security-Tools.git
[submodule "internet-scale-research/opensquat"]
	path = internet-scale-research/opensquat
	url = https://github.com/atenreiro/opensquat.git
[submodule "containers/docker-cheat-sheet"]
	path = containers/docker-cheat-sheet
	url = https://github.com/wsargent/docker-cheat-sheet
[submodule "containers/dockerfiles"]
	path = containers/dockerfiles
	url = https://github.com/jessfraz/dockerfiles.git
[submodule "collections/regular-expression-cheat-sheet"]
	path = collections/regular-expression-cheat-sheet
	url = https://github.com/niklongstone/regular-expression-cheat-sheet.git
[submodule "collections/H5SC"]
	path = collections/H5SC
	url = https://github.com/cure53/H5SC.git
[submodule "resources/MobileApp-Pentest-Cheatsheet"]
	path = resources/MobileApp-Pentest-Cheatsheet
	url = https://github.com/tanprathan/MobileApp-Pentest-Cheatsheet.git
[submodule "networking/clash"]
	path = networking/clash
	url = https://github.com/Dreamacro/clash.git
[submodule "sdr/urh"]
	path = sdr/urh
	url = https://github.com/jopohl/urh.git
[submodule "sdr/srsRAN"]
	path = sdr/srsRAN
	url = https://github.com/srsran/srsRAN.git
[submodule "sdr/gqrx"]
	path = sdr/gqrx
	url = https://github.com/gqrx-sdr/gqrx.git
[submodule "sdr/gnuradio"]
	path = sdr/gnuradio
	url = https://github.com/gnuradio/gnuradio.git
[submodule "microsoft&azure/azure-policy"]
	path = microsoft&azure/azure-policy
	url = https://github.com/Azure/azure-policy.git
[submodule "networking/nebula"]
	path = networking/nebula
	url = https://github.com/slackhq/nebula.git
[submodule "websites/awesome-api-security"]
	path = websites/awesome-api-security
	url = https://github.com/arainho/awesome-api-security.git
[submodule "socials/OSINT-Discord-resources"]
	path = socials/OSINT-Discord-resources
	url = https://github.com/Dutchosintguy/OSINT-Discord-resources
[submodule "cloud/CloudPentestCheatsheets"]
	path = cloud/CloudPentestCheatsheets
	url = https://github.com/dafthack/CloudPentestCheatsheets.git
